*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; list-style: none; text-decoration: none;}
.flex{display: flex}
.column{flex-direction: column}
header{
    align-items: center;
    width: 100%;
    background-color: #202528;
    color: white;
}
.logobox{
    align-items: center;
}
.logobox .logo{
    align-items: center;
    padding: 40px 0 30px 0;

}
.logobox img{
    width: 30%;
}
.logobox .subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}
.navbar{
    width: 100%;
   
}
.menu{
    background-color: #202528;    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}
.menu .nav-item{
    color: white;
    border-right: 1px solid white;
    width: 20%;
    text-align: center;
}
.menu .nav-item:last-child{
    border: none;
}
.menu .nav-link{
    color: white;
}
ul{
    width: 100%;
    justify-content: space-around;
}
.dropdown-menu{
    background-color: #202528;
    width: 100%;
}
.dropdown-item{
    color: white;
    margin: 10px 0;
}


main{
    min-height: 90vh;
}
.sidebar{
    width: 20%;
}
.content{
    width: 60%;
}
.publi{
    width: 100%;
    height: 100px;
    background-color: #3877ad;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.mr-sm-2{
    border: none; 
    border-bottom: 1px solid #eee;
    border-radius: 0;
}
.mr-sm-2:focus{
    box-shadow: none;
    border-color: #38ada9;
}
.btn-outline-success{
    border-color: #38ada9;
    color: #38ada9;
}
.btn-outline-success:hover{
    border-color: white;
    color: white;
    background-color: #38ada9;
}
.fa-search{
    margin-right: 5px;
}

.cards{
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 63vh;
}
.card{
    width: 30%;
    margin: 10px 0;
    height: 350px;
    border: none;

}
.card .image{
    height: 50%;
    border-radius: 5%;

}
.card img{
    width: 100%;
    max-height: 100%;
    border-radius: 2% 2% 0 0;

}
.card .description{
    height: 50%;
    padding: 10px 0px;
    border-radius: 0 0 1% 1% ;
    
}
.card .description h3{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.card .description h3{
    font-size: 14px;
}
.card .description .tags{
    border-top: 1px solid #eee;
    color: rgb(61, 61, 61,0.7);
    font-style: italic;

}

.fa-bars{
    color: white;
}
.block{
    background-color: #38ada9;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 1%;
}
.blocktext{
    line-height: 1.8;
}
.ramdomactivity{
    font-weight: bold;
}
.ramdomactivity span{
    color: #38ada9;
}
.form-inline span{
    margin-right: 10px;
    font-weight: bold;
}
footer{
    background-color: #38ada9;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}
.footer{
    width: 60%;
    justify-content: space-between;    
}
.byebye{
    width: 50%;
}
.footerlinks h3{
    font-size: 23px ;
}

.copyright{
    justify-content: center;
    align-items: center;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px)  {
    .left-sidebar{
        display: none;
    }
    .content{
        margin: 0 auto;
        width: 80%;
    }
}
@media only screen and (max-width: 991px) {
    .dropdown-menu{
        border: none;
    }
    .menu .nav-item {
    
        border-right: none !important;
        text-align: left;
    }
}

@media only screen and (max-width: 815px){
    .content{
        margin: 0 auto;
        width: 90%;
    }
    .sidebar{
        display: none;
    }
    .cards{
        padding: 0;
    }
    .card{
        width: 40%;
        margin: 10px;
    }
    .card img{
    }
    .footer{
        width: 90%;
    }
}
@media only screen and (max-width: 492px){
    .card{
        width: 100%;
        margin: 10px;
    }
    .byebye{
        display: none;
    }
}
@media only screen and (max-width: 390px){
    
    .content{
        margin: 0 auto;
        width: 100%;
    }
    .card .description{
        height: auto;
    }
}